@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Mukta&family=Nunito:ital,wght@0,200;0,400;0,700;1,200&family=Poppins:wght@200&family=Shantell+Sans:wght@300&display=swap');




@media only screen and (max-width: 460px) {
        html{
            padding:0;
            margin:0;
            height:100vh;
            background: linear-gradient(#f1bdef,#e66465,  #f9a239);
            font-family: 'Poppins', sans-serif;
        }
        body{
            height:100%;
        }

        #bonus{
            display:flex;
            flex-direction:row;
            align-items: center;
            width:100%;
            height:50%;
        }

        #center{

            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width:95%;
            padding-top: 4%;
        }

        #elements{
            display:flex;
            flex-direction: row;
        }
        #heart{
            margin:10%2%1%2%;
            width:16%;
            position:absolute;
        }

        #lollypop{
            margin:18%2%1%80%;
            width:9%;
            position:absolute;
            z-index:0;
        }

        #lollypop:hover{
            filter: brightness(130%);
        }

        #candy_purple{
            width:20%;
        }

        #candy_active{
            filter: brightness(180%);
        }

        #candy_purple:hover{
            filter: brightness(130%);
        }

        #audio-player-container{
            position:absolute;
            margin:6%20%1%80%;
            cursor: pointer;
        }

        #click-me{
            border:none;
            margin: 2%0%;
            width:100px;
            height:100px;
            border-radius: 15px;
            font-size: 1.6em;
            color:#e66465;
            text-transform: uppercase;
            text-shadow: 1px 1px white, -1px -1px #444;
            /* background: linear-gradient(#e66465, #f1af89);  */
            background-color: #e5b091;
            cursor: pointer;
            font-family: 'Mukta', sans-serif;
            z-index: 10;
        }
        #click-me:hover{
            background-color: #fad3bc;
        }

  
          #click-me:active{
              box-shadow: 1px 1px white, -1px -1px #444;
              background-color:white;
            }
  
            #click-me:enabled,#click-me[enabled]{
              background-color: rgb(252, 188, 109);
              color: #672a60;
            }

        
    /*     #click-me:active{
            background: linear-gradient(#ef6161, #fabe9c);

        } */

        #display-score{
            font-size: 3em;
            color: white;
            text-shadow: 1px 1px white, -1px -1px #444;
            font-weight: 900;
            font-family: 'Mukta', sans-serif;
        }
        #displayInc, #displayValueClick{
            font-size: 2.5em;
            padding:1%;
            color: #abe4b2;
            text-shadow: 1px 1px white, -1px -1px #444;
            font-weight: 500;
            font-family: 'Mukta', sans-serif;
        }



        #smallAdd, #mediumAdd, #bigAdd{
            height:100px;
            font-size: 1.2em;
            border:none;
            border-radius: 25px;
            text-transform: uppercase;
            /* box-shadow: 1px 1px 2px rgb(247, 144, 144); */
            width:100%;
            color: rgb(90, 75, 121);
            font-weight: 800;
        }

        #smallAdd:hover, #mediumAdd:hover, #bigAdd:hover{
          background-color: #fad3bc;
        }

        #smallAdd:active, #mediumAdd:active, #bigAdd:active{
            box-shadow: 1px 1px white, -1px -1px #444;
            background-color:white;
          }

          #smallAdd:disabled,#smallAdd[disabled],
          #mediumAdd:disabled,#mediumAdd[disabled],
          #bigAdd:disabled, #bigAdd[disabled]{
            background-color: rgba(253, 148, 185, 0.2);
            color: #5c2f59;
          }

          #smallAdd:enabled,#smallAdd[enabled],
          #mediumAdd:enabled,#mediumAdd[enabled],
          #bigAdd:enabled, #bigAdd[enabled]{
            background-color: rgb(252, 188, 109);
            color: #672a60;
          }

        #btnreset{
            position:absolute;
            font-size: 1.5em;
            margin:2%;
            width:90px;
            height:90px;
            border:none;
            border-radius: 50%;
            text-transform: uppercase;
            /* box-shadow: 1px 1px 2px rgb(247, 144, 144); */
            color: rgb(51, 46, 61);
            font-weight: 800;
            background-color: #abe4b2;
        }
        #btnreset:hover{
            background-color: white;
        }
        .card{
            width:30%;
            height:200px;
            margin:1%;
            /* box-shadow: 1px 1px white, -1px -1px #444; */
           /* background: linear-gradient(145deg, #fa9e9e, #e67878);*/
            padding:1%;
            border-radius: 10px;
        }

        .prix{
            font-size: 1em;
            font-weight: 700;
            color: #d4f5d8;
            text-align: center;
            height:50px;
        }
    }

        @media (min-width: 460px) {
             html{
                   padding:0;
                   margin:0;
                   background: linear-gradient(#e5b091,#e66465,  #abe4b2);
                   font-family: 'Poppins', sans-serif;
               }
               body{
                   height:100%;
               }

               #bonus{
                   display:flex;
                   flex-direction:row;
                   align-items: center;
                   width:20%;
                   height:50%;
               }

               #center{

                   display:flex;
                   flex-direction: column;
                   justify-content: center;
                   width:100%;
               }

               #elements{
                   display:flex;
                   flex-direction: row;
               }
               #heart{
                   margin:10%2%1%2%;
                   width:16%;
                   position:absolute;
               }

               #lollypop{
                   margin:18%2%1%80%;
                   width:9%;
                   position:absolute;
                   z-index:0;
               }

               #lollypop:hover{
                   filter: brightness(130%);
               }

               #audio-player-container{
                   position:absolute;
                   margin:6%20%1%80%;
                   cursor: pointer;
               }

              

               #display-score{
                   font-size: 6em;
                   color: #defae2;
                   text-shadow: 1px 1px white, -1px -1px #444;
                   font-weight: 900;
                   font-family: 'Mukta', sans-serif;
               }
               #displayInc, #displayValueClick{
                   font-size: 2.9em;
                   padding:1%;
                   color: #abe4b2;
                   text-shadow: 1px 1px white, -1px -1px #444;
                   font-weight: 500;
                   font-family: 'Mukta', sans-serif;
               }



               #smallAdd, #mediumAdd, #bigAdd{
                   height:150px;
                   font-size: 2.2em;
                   border:none;
                   border-radius: 10px;
                   text-transform: uppercase;
                   /* box-shadow: 1px 1px 2px rgb(247, 144, 144); */
                   width:100%;
                   color: rgb(90, 75, 121);
                   font-weight: 800;
               }

               #smallAdd:hover, #mediumAdd:hover, #bigAdd:hover{
                 background-color: #fad3bc;
               }

               #smallAdd:active, #mediumAdd:active, #bigAdd:active{
                   box-shadow: 1px 1px white, -1px -1px #e58beb;
                 }

               #btnreset{
                   position:absolute;
                   font-size: 2em;
                   margin:2%;
                   width:120px;
                   height:120px;
                   border:none;
                   border-radius: 50%;
                   text-transform: uppercase;
                   /* box-shadow: 1px 1px 2px rgb(247, 144, 144); */
                   color: rgb(51, 46, 61);
                   font-weight: 800;
                   background-color: #abe4b2;
               }
               #btnreset:hover{
                   background-color: white;
               }
               .card{
                   width:60%;
                   height:300px;
                   margin:1%;
                   /* box-shadow: 1px 1px white, -1px -1px #444; */
                   background: linear-gradient(145deg, #fa9e9e, #e67878);
                   padding:1%;
                   border-radius: 10px;
               }

               .prix{
                   font-size: 2.4em;
                   font-weight: 700;
                   color: #d4f5d8;
                   text-align: center;
                   height:150px;
               } 
    }



